.header .logo {
  width: 200px;
  height: 80px;
  font-size: 20px;
  line-height: 80px;
  color: #00ecde;
  margin: 0 112px 0px 0;
  float: left;
}
.header .time {
  width: 200px;
  height: 80px;
  line-height: 80px;
  color: #ffffff;
  margin-right: -25px;
  float: right;
}
