.realTimeStatus > .search > .radioWrapper{
    padding: 5px 10px;
    background: #ffffff;
    border-radius: 4px;
}
.realTimeStatus > .search > .buttonWrapper{
    float: right;
} 
.realTimeStatus-table-row{
    background: #EFF9FB;
}
.realTimeStatus > .table{
    margin-top:0.53rem;
}
.realTimeStatus > .pagination{
    margin-top:0.52rem;
    text-align: end;
}